@import url("https://fonts.cdnfonts.com/css/source-sans-pro");
body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-image: linear-gradient(to bottom, #6ec9ed, #6ec9ed, #29265d, #29265d);
  margin: 0;
  padding: 0;
}

h1 {
  margin-left: 25px;
  font-size: 35px;
}

h2 {
  color: #1d1d1b;
  margin-top: 0;
  margin-bottom: 5px;
}

.wrapper {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.wrapper:last-child {
  margin-bottom: 20px;
}

header {
  background: transparent;
  color: #1d1d1b;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  z-index: 10000000;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

header .wrapper .header_logo_container {
  display: flex;
  align-items: center;
}

header .wrapper .header_logo_container a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #1d1d1b;
}

header .wrapper .header_logo_container a img {
  height: 50px;
  margin-right: 10px;
}

header .wrapper .header_logo_container a p {
  display: none;
}

header .wrapper .header_menu_container nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

header .wrapper .header_menu_container nav ul li {
  margin-left: 20px;
}

header .wrapper .header_menu_container nav ul li:first-child {
  margin-left: 0;
}

header .wrapper .header_menu_container nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #1d1d1b;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  transition: color 0.3s ease;
}

header .wrapper .header_menu_container nav ul li a:hover {
  color: #ffffff;
}

footer {
  background-color: #29265d;
  color: #ffffff;
  padding: 20px 0;
  font-size: 0.8em;
  z-index: 10000000;
}

footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

footer .wrapper .footer_copyrights_container p {
  margin: 0;
}

footer .wrapper .footer_menu_container nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

footer .wrapper .footer_menu_container nav ul li:not(:last-child) {
  margin-right: 15px;
}

footer .wrapper .footer_menu_container nav ul li a {
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
  transition: color 0.3s;
}

footer .wrapper .footer_menu_container nav ul li a:hover {
  color: #1d1d1b;
}

.choice-metode-section .wrapper {
  max-width: 1000px;
  margin: 0px auto;
  padding: 35px 65px;
}

.choice-metode-section .wrapper .section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  gap: 40px;
}

.choice-metode-section .wrapper .section-container .choice-container {
  text-align: center;
  margin-bottom: 30px;
}

.choice-metode-section .wrapper .section-container .choice-container .choice {
  cursor: pointer;
  padding: 10% 10%;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
  background: #fff;
  border-radius: 50px;
}

.choice-metode-section .wrapper .section-container .choice-container .choice:hover {
  box-shadow: 0 0 30px grey;
}

.choice-metode-section .wrapper .section-container .choice-container .choice img {
  font-size: 48px;
  margin-bottom: 10px;
  width: 200px;
}

.choice-metode-section .wrapper .section-container .choice-container .choice p {
  color: #666;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  margin-bottom: 25px;
}

.quiz_section .wrapper {
  max-width: 1000px;
  margin: 0px auto;
  padding: 35px 65px;
}

.quiz_section .wrapper .section-container {
  background: #fff;
  padding: 5% 8%;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quiz_section .wrapper .quiz-list {
  list-style: none;
  padding: 0;
}

.quiz_section .wrapper .quiz-list li {
  background-color: #e0e0e0;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
}

.quiz_section .wrapper .quiz-list li:hover {
  background-color: #d0d0d0;
}

.quiz_section .wrapper .quiz-list li p {
  font-family: "Source Sans Pro", sans-serif;
}

.quiz_section .wrapper .quiz-list li .progress-container {
  margin: 20px 0;
  background-color: #eeeeee;
  border-radius: 5px;
}

.quiz_section .wrapper .quiz-list li .progress-container .progress-bar {
  background-color: #95c11f;
  height: 20px;
  border-radius: 5px;
  width: 0%;
  text-align: right;
  transition: width 0.4s ease;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.quiz_section .wrapper .quiz-list li .progress-container .progress-bar p {
  padding: 0 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.quiz_section .wrapper .quiz-list li .completed {
  background-color: #29265d;
  color: white;
  padding: 10px 12px;
  border-radius: 5px;
  position: absolute;
  right: 20px;
  top: 15px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.quiz_section .wrapper .button-section {
  display: flex;
  justify-content: flex-end;
}

.quiz_section .wrapper .button-section .return {
  background-color: #ffffff;
  color: #1d1d1b;
  padding: 18px 80px;
  margin-top: 20px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.quiz_section .wrapper .button-section .return:hover {
  background-color: #6ec9ed;
}

.flashcards_section .wrapper {
  max-width: 1000px;
  margin: 0px auto;
  padding: 35px 65px;
}

.flashcards_section .wrapper .section-container {
  background: #fff;
  padding: 5% 8%;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.flashcards_section .wrapper .flashcard-container {
  list-style: none;
  padding: 0;
}

.flashcards_section .wrapper .flashcard-container li {
  background-color: #e0e0e0;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
}

.flashcards_section .wrapper .flashcard-container li:hover {
  background-color: #d0d0d0;
}

.flashcards_section .wrapper .flashcard-container li p {
  font-family: "Source Sans Pro", sans-serif;
}

.flashcards_section .wrapper .flashcard-container li .progress-container {
  margin: 20px 0;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.flashcards_section .wrapper .flashcard-container li .progress-container .progress-bar {
  background-color: #95c11f;
  height: 20px;
  border-radius: 5px;
  width: 0%;
  text-align: right;
  transition: width 0.4s ease;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.flashcards_section .wrapper .flashcard-container li .progress-container .progress-bar p {
  padding: 0 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.flashcards_section .wrapper .flashcard-container li .quantity {
  padding: 10px 12px;
  position: absolute;
  right: 20px;
  top: 15px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.flashcards_section .wrapper .flashcard-container li .quantity span {
  border-radius: 100%;
  padding: 5px 8px;
  background-color: #29265d;
  color: #ffffff;
}

.flashcards_section .wrapper .button-section {
  display: flex;
  justify-content: flex-end;
}

.flashcards_section .wrapper .button-section .return {
  background-color: #ffffff;
  color: #1d1d1b;
  padding: 18px 80px;
  margin-top: 20px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.flashcards_section .wrapper .button-section .return:hover {
  background-color: #6ec9ed;
}

.my-progress-section .wrapper {
  max-width: 1000px;
  margin: 0px auto;
  padding: 35px 65px;
}

.my-progress-section .wrapper .section-container {
  background: #fff;
  padding: 5% 8%;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.my-progress-section .wrapper .section-container .progress-container {
  margin: 20px 0;
  background-color: #e0e0e0;
  border-radius: 5px;
}

.my-progress-section .wrapper .section-container .progress-container .progress-bar {
  background-color: #95c11f;
  height: 20px;
  border-radius: 5px;
  width: 0%;
  text-align: right;
  transition: width 0.4s ease;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.my-progress-section .wrapper .section-container .progress-container .progress-bar p {
  padding: 0 10px;
}

.my-progress-section .wrapper .section-container .course-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.my-progress-section .wrapper .section-container .course-title p {
  margin: 0;
  font-weight: 500;
}

.my-progress-section .wrapper .section-container .course-title .course-type {
  background-color: #29265d;
  color: white;
  padding: 10px 12px;
  border-radius: 25px;
  right: 20px;
  top: 15px;
  font-family: "Source Sans Pro", sans-serif;
}

.active-quiz-section .wrapper {
  max-width: 1000px;
  margin: 0px auto;
  padding: 35px 65px;
}

.active-quiz-section .wrapper h1 {
  color: #ffffff;
}

.active-quiz-section .wrapper p {
  margin-left: 25px;
}

.active-quiz-section .wrapper .progress-container {
  margin: 20px 25px;
  background-color: #ffffff;
  border-radius: 30px;
  border: 3px solid #ffffff;
}

.active-quiz-section .wrapper .progress-container .progress-bar {
  background-color: #95c11f;
  height: 20px;
  border-radius: 30px;
  width: 0%;
  padding: 10px;
  text-align: center;
  transition: width 0.4s ease;
  color: #1d1d1b;
  display: flex;
  align-items: center;
  padding: 0;
}

.active-quiz-section .wrapper .progress-container .progress-bar p {
  text-align: center;
  padding: 0;
}

.active-quiz-section .wrapper .section-container {
  background: #fff;
  padding: 5% 8%;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.active-quiz-section .wrapper .section-container .question ul {
  list-style-type: none;
  padding: 0;
  gap: 10px;
  display: flex;
  flex-direction: column;
  margin: 30px 10px;
}

.active-quiz-section .wrapper .section-container .question ul .answer {
  background-color: #aedef8;
  padding: 20px 20px;
  margin: 10px 0;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.active-quiz-section .wrapper .section-container .question ul .answer:hover, .active-quiz-section .wrapper .section-container .question ul .answer.active {
  background-color: #29265d;
  color: #fff;
}

.active-quiz-section .wrapper .button-section {
  display: flex;
  justify-content: flex-end;
}

.active-quiz-section .wrapper .button-section .next-button {
  background-color: #95c11f;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  text-align: right;
  border-radius: 20px;
  cursor: pointer;
  max-width: 200px;
  transition: background-color 0.3s;
}

.active-quiz-section .wrapper .button-section .next-button:hover {
  background-color: #6ec9ed;
}

.active-flashcard-section .wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 35px 65px;
}

.active-flashcard-section .wrapper h1 {
  color: #ffffff;
}

.active-flashcard-section .wrapper p {
  margin-left: 25px;
}

.active-flashcard-section .wrapper .progress-container {
  margin: 20px 25px;
  background-color: #ffffff;
  border-radius: 30px;
  border: 3px solid #ffffff;
}

.active-flashcard-section .wrapper .progress-container .progress-bar {
  background-color: #95c11f;
  height: 20px;
  border-radius: 30px;
  width: 0%;
  transition: width 0.4s ease;
  color: #1d1d1b;
  display: flex;
  align-items: center;
}

.active-flashcard-section .wrapper .progress-container .progress-bar p {
  margin-left: 10px;
  width: 100%;
  text-align: left;
}

.active-flashcard-section .wrapper .section-container {
  position: relative;
  width: 80%;
  left: 10%;
  height: 300px;
}

.active-flashcard-section .wrapper .section-container .flashcard {
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.active-flashcard-section .wrapper .section-container .flashcard.is-flipped .flashcard-inner {
  transform: rotateX(180deg);
}

.active-flashcard-section .wrapper .section-container .flashcard .flashcard-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  transform-origin: center center -50px;
}

.active-flashcard-section .wrapper .section-container .flashcard .flashcard-inner .flashcard-front,
.active-flashcard-section .wrapper .section-container .flashcard .flashcard-inner .flashcard-back {
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 70px;
  background: #ffffff;
  padding: 20px;
  box-sizing: border-box;
}

.active-flashcard-section .wrapper .section-container .flashcard .flashcard-inner .flashcard-back {
  transform: rotateX(180deg);
}

.active-flashcard-section .wrapper .section-container .flashcard .flashcard-inner .flashcard-front {
  display: flex;
  flex-direction: column;
}

.active-flashcard-section .wrapper .section-container .flashcard .flashcard-inner .flashcard-front p {
  color: #d0d0d0;
  font-family: "Source Sans Pro", sans-serif;
  justify-self: flex-end;
}

.active-flashcard-section .wrapper .button-section .chance-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin: 30px 0;
}

.active-flashcard-section .wrapper .button-section .chance-button p {
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.active-flashcard-section .wrapper .button-section .chance-button .previous-button,
.active-flashcard-section .wrapper .button-section .chance-button .next-button {
  background-color: #ffffff;
  color: #1d1d1b;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.active-flashcard-section .wrapper .button-section .chance-button .previous-button:hover,
.active-flashcard-section .wrapper .button-section .chance-button .next-button:hover {
  background-color: #6ec9ed;
}

.active-flashcard-section .wrapper .button-section .status-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.active-flashcard-section .wrapper .button-section .status-button .return {
  background-color: #ffffff;
  color: #1d1d1b;
  padding: 18px 80px;
  margin-top: 20px;
  margin-left: 50px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.active-flashcard-section .wrapper .button-section .status-button .return:hover {
  background-color: #6ec9ed;
}

.active-flashcard-section .wrapper .button-section .status-button .status {
  background-color: transparent;
  color: #95c11f;
  padding: 15px 80px;
  margin-top: 20px;
  border: 3px solid #95c11f;
  border-radius: 40px;
  margin-right: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.active-flashcard-section .wrapper .button-section .status-button .status:hover {
  background-color: #95c11f;
  color: #ffffff;
}

.active-flashcard-section .wrapper .button-section .status-button .active {
  background-color: #95c11f;
  color: #ffffff;
}

.my-result-section .wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 35px 65px;
}

.my-result-section .wrapper .section-container {
  background: #fff;
  padding: 5% 8%;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.my-result-section .wrapper .section-container .results-summary {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #aedef8;
  border-radius: 30px;
}

.my-result-section .wrapper .section-container .answer-container .question h2 {
  text-align: left;
}

.my-result-section .wrapper .section-container .answer-container .question ul {
  list-style: none;
  padding: 0;
}

.my-result-section .wrapper .section-container .answer-container .question ul li {
  background-color: #e0e0e0;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 15px;
  transition: background-color 0.3s;
  position: relative;
}

.my-result-section .wrapper .section-container .answer-container .question ul .selected-answer {
  background-color: #ff4b37;
}

.my-result-section .wrapper .section-container .answer-container .question ul .correct-answer {
  background-color: #95c11f;
}

.my-result-section .wrapper .button-section .status-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.my-result-section .wrapper .button-section .status-button .return {
  background-color: #ffffff;
  color: #1d1d1b;
  padding: 18px 80px;
  margin-top: 20px;
  margin-left: 50px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.my-result-section .wrapper .button-section .status-button .return:hover {
  background-color: #6ec9ed;
}

.my-result-section .wrapper .button-section .status-button .status {
  background-color: transparent;
  color: #95c11f;
  padding: 15px 80px;
  margin-top: 20px;
  border: 3px solid #95c11f;
  border-radius: 40px;
  margin-right: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.my-result-section .wrapper .button-section .status-button .status:hover {
  background-color: #95c11f;
  color: #ffffff;
}

.my-result-section .wrapper .button-section .status-button .active {
  background-color: #95c11f;
  color: #ffffff;
}

.welcome-section {
  position: relative;
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-section::before {
  content: "";
  background-image: url(../images/tlo.png);
  background-position: center;
  background-size: 140%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
  z-index: -1;
}

.welcome-section .wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 35px 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-section .wrapper h1 {
  text-transform: uppercase;
}

.welcome-section .wrapper .icon-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 500px;
}

.welcome-section .wrapper .icon-container img {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.welcome-section .wrapper p {
  color: #ffffff;
  margin-top: 30px;
  font-family: "Source Sans Pro", sans-serif;
}

.welcome-section .wrapper p a {
  text-decoration: none;
  background-color: #29265d;
  color: #ffffff;
  padding: 18px 80px;
  border-radius: 40px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.welcome-section .wrapper p a:hover {
  color: #1d1d1b;
  background-color: #6ec9ed;
}

.about-project-section .wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 35px 65px;
}

.about-project-section .wrapper h2 {
  margin-left: 25px;
  color: #ffffff;
  margin-bottom: 30px;
}

.about-project-section .wrapper .section-container {
  background: #fff;
  padding: 5% 8%;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.about-project-section .wrapper .section-container p {
  font-family: "Source Sans Pro", sans-serif;
}


