{% load static %}
<!DOCTYPE html>
<html lang="pl">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard | Sfera Inżyniera</title>
        <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    </head>

    <body>
        {% include "header.html" %}


        <section class="dashboard-section">
            <div class="wrapper">
                <h1>Dashboard</h1>
                <div class="dashboard-container">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'dashboard' %}">Dashboard <span>

                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'my-progress' %}">Moje postępy</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'learning-choice' %}">Metody nauki</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'logout' %}">Wyloguj</a>
                                </li>
                            </ul>
                        </div>
                    </nav>

                    <div class="content">
                        {% block content %}
                        <p>Witaj w panelu dashboard.</p>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </section>



        {% include "footer.html" %}
        <script>
        </script>
    </body>

</html>