<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ selected_category }} – Uczenie się z fiszek | Sfera Inżyniera</title>
    <link rel="stylesheet" href="/static/styles/main.css">
</head>

<body>
    {% include "header.html" %}

    <section class="active-flashcard-section">
        <div class="wrapper">
            <h1>{{ selected_category }}</h1>
            <p>PROGRES:</p>
            <div class="progress-container">
                <div class="progress-bar" style="width: {{ user_progress }}%;">
                    <p>{{ user_progress }}%</p>
                </div>
            </div>
            <div class="section-container">
                {% if flashcards %}
                    <div class="flashcard" id="flashcard-container">
                        <div class="flashcard-inner">
                            <div class="flashcard-front">
                                <h2 id="flashcard-sentence">{{ flashcards.0.sentence }}</h2>
                                <p>Kliknij, aby zobaczyć definicję</p>
                            </div>
                            <div class="flashcard-back">
                                <p id="flashcard-answer">{{ flashcards.0.answer }}</p>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p>Brak fiszek do wyświetlenia.</p>
                {% endif %}
            </div>

            <div class="button-section">
                <div class="chance-button">
                    <a class="previous-button"><</a>
                    <p><span class="active-number">1</span>/<span class="all-number">{{ flashcards|length }}</span></p>
                    <a class="next-button">></a>
                </div>
                <div class="status-button">
                    <a class="return" onclick="location.href='/flashcards'">POWRÓT</a>
                    <a class="status" onclick="selectFlashcard(this)">ZAPAMIĘTANO</a>
                </div>
            </div>
        </div>
    </section>
    {% include "footer.html" %}

    <script id="flashcards-data" type="application/json">{{ flashcards_json|safe }}</script>
    <script >
        const flashcardContainer = document.getElementById('flashcard-container');
        const flashcardSentence = document.getElementById('flashcard-sentence');
        const flashcardAnswer = document.getElementById('flashcard-answer');

        const csrftoken = '{{ csrf_token }}';
        let currentFlashcard = 0;
        const categoryName = "{{ selected_category }}";

        let flashcardsData = JSON.parse(document.getElementById('flashcards-data').textContent);

        function initializeFlashcards() {
            console.log("Stan początkowy fiszek:", flashcardsData);
            showFlashcard();
        }

        document.addEventListener('DOMContentLoaded', initializeFlashcards);

        function showFlashcard() {
            flashcardSentence.textContent = flashcardsData[currentFlashcard].sentence;
            flashcardAnswer.textContent = flashcardsData[currentFlashcard].answer;
            document.querySelector('.active-number').textContent = currentFlashcard + 1;

            const statusButton = document.querySelector('.status-button .status');
            if (flashcardsData[currentFlashcard].remembered) {
                statusButton.classList.add('active');
            } else {
                statusButton.classList.remove('active');
            }

            flashcardContainer.classList.remove('is-flipped');
        }


        function showPreviousFlashcard() {
            if (currentFlashcard > 0) {
                currentFlashcard--;
                showFlashcard();
            }
        }

        function showNextFlashcard() {
            if (currentFlashcard < flashcardsData.length - 1) {
                currentFlashcard++;
                showFlashcard();
            }
        }

        flashcardContainer.addEventListener('click', function () {
                flashcardContainer.classList.toggle('is-flipped');
        });

        function selectFlashcard(selectedElement) {
            selectedElement.classList.toggle('active');
            const flashcardId = flashcardsData[currentFlashcard].id;
            const remembered = !flashcardsData[currentFlashcard].remembered;
            flashcardsData[currentFlashcard].remembered = remembered;

            updateFlashcardProgress(flashcardId, remembered);
            updateProgressBar();
        }

        function calculateNewProgress() {
                const rememberedCount = flashcardsData.filter(flashcard => flashcard.remembered).length;
                return (rememberedCount / flashcardsData.length) * 100; 
            }

        function updateProgressBar() {
                const progressPercentage = calculateNewProgress();

                const progressBar = document.querySelector('.progress-bar');
                progressBar.style.width = `${progressPercentage}%`;
                progressBar.querySelector('p').textContent = `${progressPercentage.toFixed(0)}%`;
            }

        document.querySelector('.previous-button').addEventListener('click', function (event) {
            event.preventDefault();
            showPreviousFlashcard();
        });

        document.querySelector('.next-button').addEventListener('click', function (event) {
            event.preventDefault();
            showNextFlashcard();
        });



    function updateFlashcardProgress(flashcardId, remembered) {
        const newProgress = calculateNewProgress();
        fetch('/update-flashcard-and-progress/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify({
                flashcardId: flashcardId,
                remembered: remembered,
                categoryName: categoryName,
                progress: newProgress
            })
        })
            .then(response => response.json())
            .then(data => {
                console.log('Flashcard and progress updated:', data);
                updateProgressBar();
            })
            .catch((error) => {
                console.error('Error updating flashcard and progress:', error);
            });
    }

    </script>
</body>

</html>
