<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Największy wybór fiszek | Sfera Inżyniera</title>
    <link rel="stylesheet" href="../static/styles/main.css">
</head>


<body>
    {% include "header.html" %}
    <section class="flashcards_section">
        <div class="wrapper">
            <h1>Wybór fiszki</h1>
            <div class="section-container">
                <ul class="flashcard-container">
                    {% for category in categories %}
                        <li class="flashcard" onclick="location.href='/flashcards/{{ category.name }}/'">
                            <h2>{{ category.name }}</h2>
                            <p>Liczba fiszek: {{ category.num_flashcards }}</p>
                            <div class="progress-container">
                                <div class="progress-bar" style="width: {{ category.user_progress|floatformat:'0' }}%;">
                                    <p>{{ category.user_progress|floatformat:"0" }}%</p>
                                </div>
                            </div>

                        </li>
                    {% empty %}
                    <li>Brak fiszek.</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="button-section">
                <a class="return" onclick="location.href='/choose-learning/'">POWRÓT</a>
            </div>
        </div>
    </section>
    {% include "footer.html" %}
    <script>
    </script>
</body>


</html>
