{% load static %}
<!DOCTYPE html>
<html lang="pl">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Największy wybór fiszek | Sfera Inżyniera</title>
        <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    </head>


    <body>
        {% include "header.html" %}
        <section class="flashcards_section">
            <div class="wrapper">
                <h1>Wybór fiszki</h1>
                <div class="section-container">
                    <ul class="flashcard-container">
                        {% for category in categories %}
                        <li class="flashcard">
                            <h2>{{ category.name }}</h2>
                            <!-- Tutaj możesz dodać więcej informacji o kategorii, jeśli są dostępne -->
                            <p>Opis kategorii, jeśli jest dostępny.</p>
                            <!-- Przykładowy postęp, który można zaktualizować dynamicznie -->
                            <div class="progress-container">
                                <div class="progress-bar">
                                    <p>{{ category.progress_percentage }}%</p>
                                </div>
                            </div>
                            <p class="quantity">Liczba fiszek: <span>{{ category.flashcards.count }}</span></p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                            <div class="button-section">
                                <a class="return" onclick="location.href='/choose-learning/'">POWRÓT</a>
                            </div>
            </div>

        </section>
        {% include "footer.html" %}
        <script>
        </script>

    </body>

</html>