<!DOCTYPE html>
<html lang="pl">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Algorytmy i struktury danych – Uczenie się z fiszek | Sfera Inżyniera</title>
        <link rel="stylesheet" href="../static/styles/main.css">

    </head>

    <body>
        {% include "header.html" %}

        <section class="active-flashcard-section">
            <div class="wrapper">
                <h1>Algorytmy i struktury danych</h1>
                <p>PROGRES:</p>
                <div class="progress-container">
                    <div class="progress-bar" style="width: 40%;">
                        <p>40%</p>
                    </div>
                </div>
                <div class="section-container">
                    <div class="flashcard">
                        <div class="flashcard-inner">
                            <div class="flashcard-front">
                                <h2>{{ current_flashcard.term }}</h2>
                                <p>Kliknij, aby zobaczyć definicję</p>
                            </div>
                            <div class="flashcard-back">
                                <p>{{ current_flashcard.definition }}</p>
                            </div>
                        </div>
                    </div>
                </div>





                <div class="button-section">
                    <div class="chance-button">
                        {% if prev_flashcard %}
                        <a class="previous-button" href="{% url 'flashcard-detail' category.id prev_flashcard.id %}">
                            << /a>
                                {% endif %}
                                <p><span class="active-number">{{ forloop.counter }}</span>/<span class="all-number">{{
                                        flashcard_count
                                        }}</span></p>
                                {% if next_flashcard %}
                                <a class="next-button"
                                    href="{% url 'flashcard-detail' category.id next_flashcard.id %}">></a>
                                {% endif %}
                    </div>
                    <div class="status-button">
                        <a class="return" onclick="location.href='/flashcards'">POWRÓT</a>
                        <a class="status" onclick="selectFlashcard(this)">ZAPAMIĘTANO</a>
                    </div>
                </div>
            </div>

        </section>
        {% include "footer.html" %}
        <script>
            const flashcard = document.querySelector('.flashcard');
            flashcard.addEventListener('click', function () {
                flashcard.classList.toggle('is-flipped');
            });

            function selectFlashcard(selectedElement) {
                selectedElement.classList.add('active');
            }
        </script>
    </body>

</html>