{% load static %}
<!DOCTYPE html>
<html lang="pl">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Zaloguj się | Sfera Inżyniera</title>
        <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    </head>


    <body>
        {% include "header.html" %}

        <section class="login-page-section">
            <div class="wrapper">

                <h2>Zaloguj się</h2>
                <div class="section-container">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.username }}
                        {{ form.password }}
                        <a href="{% url 'password_reset' %}">Zapomniałeś hasła?</a>
                        <button type="submit">Zaloguj się</button>
                        <a class="register_btn" href="{% url 'register' %}">Zarejestruj się</a>
                    </form>

                </div>
            </div>

        </section>


        {% include "footer.html" %}
        <script>
        </script>

    </body>

</html>