<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz - {{ category_name }} | Sfera Inżyniera</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>

<body>
    {% include "header.html" %}
    <section class="active-quiz-section">
        <div class="wrapper">
            <h1>{{ category_name }}</h1>
            <p>PROGRES:</p>
            <div class="progress-container">
                <div class="progress-bar" style="width: {{ progress }}%;">
                    <p>{{ progress }}/10 pytań</p>
                </div>
            </div>

            <div class="section-container">
                {% if quiz_questions %}
                    <div class="question" id="question-container">
                        {% for question in quiz_questions %}
                            <div class="question-content" style="display: none;">
                                <h2>{{ question.question }}</h2>
                                <ul>
                                    {% for choice in question.choices %}
                                        <li class="answer" onclick="selectAnswer(this)">{{ choice }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>No quiz questions available.</p>
                {% endif %}
            </div>

            <div class="button-section">
                <div onclick="showNextQuestion()" class="next-button">Następne pytanie</div>
            </div>
        </div>
    </section>
    {% include "footer.html" %}

    <script>
        var currentQuestion = 0;
        var questions = document.querySelectorAll('.question-content');
        var canProceed = true;

        function showNextQuestion() {
            if (canProceed && currentQuestion < questions.length - 1) {
                questions[currentQuestion].style.display = 'none';
                currentQuestion++;
                questions[currentQuestion].style.display = 'block';
                canProceed = false;

                setTimeout(function () {
                    canProceed = true;
                }, 2000); // Opóźnienie =  2 sekundy
            } else if (canProceed && currentQuestion === questions.length - 1) {
                //koniec quizu
                window.location.href = '/my-result';
            }
        }

        function selectAnswer(selectedElement) {
            document.querySelectorAll('.answer').forEach(function (answer) {
                answer.classList.remove('active');
            });

            selectedElement.classList.add('active');
        }

        // Pokaż pierwsze pytanie na początku
        questions[currentQuestion].style.display = 'block';

        // Prevent form submission on button click
        document.querySelector('.next-button').addEventListener('click', function (event) {
            event.preventDefault();
            showNextQuestion();
        });
    </script>
</body>
</html>
