<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz - {{ category_name }} | Sfera Inżyniera</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>

<body>
    {% include "header.html" %}
    <section class="active-quiz-section">
        <div class="wrapper">
            <h1>{{ category_name }}</h1>
            <p>PROGRES:</p>
            <div class="progress-container">
                <div class="progress-bar" style="width: 0%;">
                    <p><span id="progress-percent">0</span>%</p>
                </div>
            </div>

            <div class="section-container">
                {% if quiz_questions %}
                    <div class="question" id="question-container">
                        {% for question in quiz_questions %}
                            <div class="question-content" style="display: none;">
                                <h2>{{ question.question }}</h2>
                                <ul>
                                    {% for choice in question.choices %}
                                        <li class="answer" onclick="selectAnswer(this)">{{ choice }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>No quiz questions available.</p>
                {% endif %}
            </div>

            <div class="button-section">
                <div onclick="showNextQuestion()" class="next-button">Następne pytanie</div>
            </div>
        </div>
    </section>
    {% include "footer.html" %}

    <script>
        var currentQuestion = 0;
        var totalQuestions = {{ quiz_questions|length }};
        var questions = document.querySelectorAll('.question-content');
        var canProceed = true;
        var correctAnswers = {{ correct_answers|safe }};
        var userAnswers = [];
        var category_name = "{{ category_name }}";
        updateProgress();

        function showNextQuestion() {
            if (canProceed && currentQuestion < questions.length - 1) {
                questions[currentQuestion].style.display = 'none';
                currentQuestion++;
                questions[currentQuestion].style.display = 'block';
                canProceed = false;

                updateProgress();

                setTimeout(function () {
                    canProceed = true;
                }, 1000);
            } else if (canProceed && currentQuestion === questions.length - 1) {
                var correctCount = calculateScore();
                userProgressQuiz(correctCount, category_name);

                window.location.href = '/my-result';
            }
        }

        function selectAnswer(selectedElement) {
            document.querySelectorAll('.answer').forEach(function (answer) {
                answer.classList.remove('active');
            });
            userAnswers[currentQuestion] = selectedElement.textContent;

            selectedElement.classList.add('active');
        }

        questions[currentQuestion].style.display = 'block';

        document.querySelector('.next-button').addEventListener('click', function (event) {
            event.preventDefault();
            showNextQuestion();
        });

        function updateProgress() {
            var progressPercentElement = document.getElementById('progress-percent');
            var progress = ((currentQuestion + 1) / totalQuestions) * 100;
            progressPercentElement.textContent = Math.round(progress);

            var progressBarElement = document.querySelector('.progress-bar');
            progressBarElement.style.width = progress + '%';
        }

        function calculateScore() {
            var correctCount = 0;

            for (var i = 0; i < questions.length; i++) {
                if (userAnswers[i] === " " + correctAnswers[i]) {
                    correctCount++;
                }
            }
            correctCount = correctCount/questions.length*100

            return correctCount;
        }

        var csrftoken = '{{ csrf_token }}';

        function userProgressQuiz(correctCount, categoryName) {
            const newProgress = calculateScore();

            fetch('/update-quiz-and-progress/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify({
                    correctCount: correctCount,
                    categoryName: categoryName,
                    progress: newProgress,
                    categoryType: 'quiz'
                })
            })
            .then(response => response.json())
            .then(data => {
                console.log('Quiz and progress updated:', data);
                updateProgressBar();
            })
            .catch((error) => {
                console.error('Error updating Quiz and progress:', error);
            });
        }


    </script>
</body>

</html>
