<!DOCTYPE html>
<html lang="pl">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Szeroki wybów quizów | Sfera Inżyniera</title>
        <link rel="stylesheet" href="../static/styles/main.css">
    </head>

    <body>
        {% include "header.html" %}
    
        <section class="quiz_section">
            <div class="wrapper">
                <h1>Wybierz Quiz</h1>
                <div class="section-container">
                    <ul class="quiz-list">
                        {% for category in categories %}
                            <li onclick="location.href='{% url 'quiz_view' category.name %}'">
                                <h2>{{ category.name }}</h2>
                                <p>Liczba pytań: <span>{{ category.quizzes.count }}</span></p>
                                <div class="progress-container">
                                    <div class="progress-bar" style="width: {{ category_progress|default:0 }}%;">
                                        <p>{{ category_progress|default:0 }}%</p>
                                    </div>
                                </div>
                                {% if category_completed|default:False %}
                                    <p class="completed">ZALICZONE</p>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="button-section">
                    <a class="return" onclick="location.href='/choose-learning/'">POWRÓT</a>
                </div>
            </div>
        </section>
        {% include "footer.html" %}
        <script>
        </script>
    </body>
    
    </html>