<footer>
    <div class="wrapper">
        <div class="footer_copyrights_container">
            <p>&copy; 2023 Sfera Inżyniera</p>
        </div>
        <div class="footer_menu_container">
            <nav>
                <ul>
                    <li><a href="/">Strona główna</a></li>
                    <li><a href="/choose-learning">Metody nauki</a></li>
                    <li><a href="/my-progress">Moje postępy</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>