<header>
    <div class="wrapper">
        <div class="header_logo_container">
            <a href="/">
                <img src="../static/images/logo-horizontal-layout-white.png" alt="Logo Sfera Inżyniera" />
                <p>Sfera Inżyniera</p>
            </a>
        </div>
        <div class="header_menu_container">
            <nav>
                <ul>
                    <li><a href="/">Strona główna</a></li>
                    <li><a href="/choose-learning">Metody nauki</a></li>
                    <li><a href="/my-progress">Moje postępy</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>